if elif

In [1]:
if True:
    print("its true")

its true

In [2]:
if 3>2:
    print('its true')

its true

In [3]:
hungry = True

if hungry:
    print("feed me!")

feed me!

In [4]:
hungry = False

if hungry:
    print("feed me!")

In [6]:
if hungry:
    print('feed me!')
else:
    print('im not hungry')

im not hungry

In [9]:
loc = 'bank'

if loc == "auto shop":
    print("cars are cool")
else:
    print("i do not know much")

i do not know much

In [11]:
if loc == "auto shop":
    print("cars are cool")
elif loc == 'bank':
    print('Money is cool')
elif loc == "store":
    print("give us ur money")
else:
    print("i do not know much")

Money is cool

In [13]:
name = 'sammy'

if name == "frankei":
    print('hello frankie')
elif name == "sammy":
    print('hello sammy')
else:
    print('what is yo name')

hello sammy

For Loops

In [15]:
my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [16]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [18]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [21]:
for jelly in mylist:
    print(jelly*2)

2
4
6
8
10
12
14
16
18
20

In [23]:
for num in mylist:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [26]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd number: {num}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [29]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

print(list_sum)

1
3
6
10
15
21
28
36
45
55
55

In [31]:
mystring = "hello world"

for letter in mystring:
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [34]:

for _ in "hello world":
    print("cool!")

cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!

In [36]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [42]:
## tuple unpackin (tuple in a list)
mylist = [(1,2), (3,4), (5,6), (7,8)]

len(mylist)

4

In [44]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [47]:
#this is tuple unpacking
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [51]:
## no parent () required to unpack

for a,b in mylist:
    print(b)

2
4
6
8

In [53]:
mylist2 = [(1,2,3), (5,6,7), (8,9,10)]

for a,b,c in mylist2:
    print(b)

2
6
9

In [56]:
## iterate thru a dictionary
# defualt accesses the key
d = {'k1':1, 'k2':2, 'k3':3}

for x in d:
    print(x)

k1
k2
k3

In [58]:
d = {'k1':1, 'k2':2, 'k3':3}

for key,value in d.items():
    print(value)

1
2
3

In [61]:
d = {'k1':1, 'k2':2, 'k3':3}

for y in d.values():
    print(y)

1
2
3

While Looops

In [75]:
while boolean_condition:
    #dosomething
    else: 
    #do something diff

SyntaxError: invalid syntax (<ipython-input-75-54003b24d82b>, line 4)

In [69]:
x = 0

while x < 5:
    print(f'the current value of x is {x}')
    x = x + 1

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4

In [71]:
x = 0

while x < 5:
    print(f'the current value of x is {x}')
    x += 1
else:
    print("X is not less than 5")

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
X is not less than 5

Break, Continue, Pass

In [76]:
x = [1,2,3]

for item in x:
    #comment 
    pass

print('end of my script')

end of my script

In [78]:
mystring = 'sammy'

In [81]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

s
m
m
y

In [84]:
for letter in mystring:
    if letter == 'm':
        break
    print(letter)

s
a

In [86]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [90]:
mylist = [1,2,3]

In [94]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [98]:
range(0,10,2)

range(0, 10, 2)

In [100]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [104]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [107]:
index_count = 0
word = 'abcde'

for letter in 'word':
    ## print the index value at that location, in this case it is the letters themselves
    print(word[index_count])
    index_count += 1

a
b
c
d

In [109]:
word = 'abcde'
for letter in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [114]:
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [129]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a', 'b', 'c']
mylist3 = [100,200,300]

In [126]:
for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [130]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [134]:
## zip only goes as far as the smallest list
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [135]:
'x' in [1,2,3]

False

In [137]:
'x' in ['x','y','z']

True

In [138]:
'a' in 'a world'

True

In [144]:
'mykey' in {'mykey':345}

True

In [148]:
d = {'mykey':345}
 
345 in d.keys()

False

In [149]:
mylist = [10,20,30,40,100]

In [151]:
min(mylist)

10

In [154]:
max(mylist)

100

In [156]:
## random library
## need to import library

from random import shuffle

In [159]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [160]:
shuffle(mylist)

In [161]:
mylist

[4, 5, 7, 10, 6, 1, 2, 8, 9, 3]

In [162]:
from random import randint

In [164]:
randint(30,70)

58

In [165]:
mynum = randint(0,100)

In [166]:
mynum

78

In [170]:
## input always accepts everything input into it as a STRING
input('Enter a number here:')

Enter a number here:25

'25'

In [168]:
result = input('Enter a number here:')

Enter a number here:100

In [169]:
result

'100'

In [171]:
float(result)

100.0

In [172]:
int(result)

100

In [173]:
result = int(input('Enter a number here:'))

Enter a number here:89

In [174]:
result

89

In [176]:
## list comprehension

## if you are using a for loop with an .append() statement

In [189]:
mystring = "hello"

In [190]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [191]:
mylist

['h', 'e', 'l', 'l', 'o']

In [192]:
## break down into list comprehension


mylist = [letter for letter in mystring]

#for letter in mystring:
#    mylist.append(letter)

In [193]:
mylist

['h', 'e', 'l', 'l', 'o']

In [184]:
newlist = [x for x in 'word']
newlist

['w', 'o', 'r', 'd']

In [186]:
mylist2 = [x for x in range(0,11)]

In [187]:
mylist2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [194]:
mylist2 = [x**2 for x in range(0,11)]

In [196]:
mylist2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [197]:
mylist3 = [x for x in range(0,11) if x %2 == 0]

In [198]:
mylist3

[0, 2, 4, 6, 8, 10]

In [203]:
celcius = [0,10,20,34.5]

fahrenheit = [( (9/5) * temp + 32 ) for temp in celcius]

fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [207]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9/5) * temp + 32))
    
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [208]:
## list comprehension essentially implies that append() function is happening

In [209]:
## if else in list comprehension, but not the best for readability

In [212]:
results = [x if x%2 == 0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [213]:
## nested loops in list comprehension

In [216]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)

In [217]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [218]:
mylsit = [ x*y for x in [2,4,6] for y in [1,10,1000]]

In [220]:
mylsit

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]