# Advanced Numbers

In [1]:
# convert to hex
hex(12)

'0xc'

In [2]:
hex(420)

'0x1a4'

In [3]:
#convert to binary
bin(128)

'0b10000000'

In [4]:
bin(512)

'0b1000000000'

In [5]:
bin(420)

'0b110100100'

In [6]:
## powers
2**4

16

In [7]:
pow(2,4,3) ## third variable is %modulo

1

In [8]:
round(3.1)

3

In [9]:
type(round(3.1)) ## round is not returning a float

int

In [10]:
abs(-3)

3

In [11]:
round(3.141592,2)

3.14

# Advanced Strings

In [12]:
s = 'hello world'

In [13]:
## changing case

s.capitalize()

'Hello world'

In [14]:
s.upper()

'HELLO WORLD'

In [15]:
s.lower()

'hello world'

In [16]:
s.count('o')

2

In [17]:
s.find('o') ## returns index of first o

4

In [18]:
s.center(20, 'z') ## string fomratting --- center string between z's with total number of leetters

'zzzzhello worldzzzzz'

In [19]:
print('hello\thi')

hello	hi

In [20]:
'hello\thi'.expandtabs()

'hello   hi'

In [21]:
s = 'hello'

In [22]:
s.isalnum() ## check if all alpha numeric

True

In [23]:
s.isalpha() #3 check if is alphabetical, not numberic

True

In [24]:
s.islower() # check if all is lower

True

In [25]:
s.isspace() ## check if all chars are white space

False

In [26]:
s.istitle() ## check if titlecase string

False

In [27]:
s.isupper() ##check if all chars upper

False

In [28]:
'HELLO'.isupper()

True

In [29]:
s.endswith('o')

True

In [30]:
s[-1] == 'o'

True

## built in regex operations

In [31]:
s.split('e') # split on e

['h', 'llo']

In [32]:
'ahdfdshfajdseeeeeefdfadfadfe'.split('f')

['ahd', 'dsh', 'ajdseeeeee', 'd', 'ad', 'ad', 'e']

In [33]:
s.partition('l') # splits on start - seperator - end

('he', 'l', 'lo')

# Advanced Sets

In [34]:
x = set()

In [35]:
x.add(1)

In [36]:
x

{1}

In [37]:
x.add(2)

In [38]:
x

{1, 2}

In [39]:
x.add(2)

In [40]:
x

{1, 2}

In [41]:
x.clear()

In [42]:
x

set()

In [43]:
x = {1,2,3}

In [44]:
xc = x.copy()

In [45]:
xc

{1, 2, 3}

In [46]:
xc.add(4)

In [47]:
xc

{1, 2, 3, 4}

In [48]:
x.difference(xc) ## returns elemtns in x that are not in xc

set()

In [49]:
xc.difference(x) ## returns elements in xc that are not in x

{4}

In [50]:
## difference update

#set1.difference_update(set2)

s1 = {1,2,3}
s2 = {1,4,5}

In [51]:

s1.difference_update(s2) ## returns the first set after removing all the elements in set 2 -- will remove 1 from s1
s1

{2, 3}

In [52]:
s2

{1, 4, 5}

In [53]:
s2.discard(4) ## remove specific eleent of a set
s2

{1, 5}

In [54]:
# intersection
s1 = {1,2,3}
s2 = {1,2,4}

In [55]:
s1.intersection(s2) ## returns elements thare are common to both sets

{1, 2}

In [56]:
s1

{1, 2, 3}

In [57]:
s1.intersection_update(s2)  ## _update will find the intersection and make the first set equal to the intersection

In [58]:
s1

{1, 2}

In [59]:
## isdisjoint()  -- returns boolean, true if there is no intersection,  false if there is an intersection
set1 = {1,2}
set2 = {1,2,4}
set3 = {5}

In [60]:
s1.isdisjoint(s2)

False

In [61]:
set1.isdisjoint(set3)

True

In [62]:
## check a subset, if 
set1.issubset(set2)

True

In [63]:
## check superset
set2.issuperset(set1)

True

In [64]:
###  symmetric difference -- returns set of the differences of the set
set1.symmetric_difference(set2)

{4}

In [65]:
set1.union(set3) ## returns a set with all unique values from both sets

{1, 2, 5}

In [66]:
set1

{1, 2}

In [67]:
set1.update(set3)

In [68]:
set1

{1, 2, 5}

# Advanced Dictionaries

In [69]:
d = {'key1':1, 'key2':2}

In [70]:
d

{'key1': 1, 'key2': 2}

In [71]:
## dictionary comprehension

## define key then value -- then conditions
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [72]:
{k:v**2 for k,v in zip(['a','b'],range(10))}

{'a': 0, 'b': 1}

In [73]:
for k in d.items():
    print(k)

('key1', 1)
('key2', 2)

In [74]:
d.items()

dict_items([('key1', 1), ('key2', 2)])

In [75]:
d.keys()

dict_keys(['key1', 'key2'])

In [76]:
d.values()

dict_values([1, 2])

# Advanced Lists

In [77]:
l = [1,2,3]

In [78]:
l.append(4)

In [79]:
l

[1, 2, 3, 4]

In [80]:
l.count(10)

0

In [81]:
l.count(1)

1

In [82]:
# extend()

In [83]:
xl = [1,2,3]
xl.append([4,5]) # append sticks a  list into a single list spot, to creat a nested list

print( xl)

[1, 2, 3, [4, 5]]

In [84]:
xl = [1,2,3]

xl.extend([4,5]) # extend adds to a list to the list without nesting

print(xl)

[1, 2, 3, 4, 5]

In [85]:
l

[1, 2, 3, 4]

In [86]:
l.index(2) ## returns the index value of an item in the list -- will throw error if not in list

1

In [87]:
l

[1, 2, 3, 4]

In [88]:
l.insert(2, 'inserted') ## index first then object to insert

In [89]:
l

[1, 2, 'inserted', 3, 4]

In [90]:
li = l.pop()

In [91]:
li

4

In [92]:
li = l.pop(2)

In [93]:
li

'inserted'

In [104]:
alist = [1,2,3,4,5,'remove']

In [99]:
l

[1, 2, 3]

In [105]:
alist.remove('remove')

In [110]:
alist

[1, 2, 3, 5]

In [111]:
alist = [1,2,3,4,5,4]

In [112]:
alist.remove(4) ## only removes first instance

In [113]:
alist

[1, 2, 3, 5, 4]

In [117]:
alist.reverse()

In [120]:
alist

[4, 5, 3, 2, 1]

In [123]:
alist.sort()

In [124]:
alist

[1, 2, 3, 4, 5]

In [125]:
# Advanced objects Assesment