# REGEX

import re

Email Pattern:

user@email.com

"text" + '@" + "text" ".com"

phone number:

(555)-555-5555

Regex Pattern:

r"(\d\d\d)-\d\d\d-\d\d\d\d"

exact string matches: ()-- 
pattern match: \d

r"(\d{3})-\d{3}-\d{4}

In [145]:
text = "the agent's phone number is 408-555-1234. Call Soon!"

In [4]:
'phone' in text

True

In [6]:
import re

In [7]:

pattern = 'phone'

In [13]:
## re.serch, takes a pattern and shows us where it matches
re.search(pattern, text)

In [10]:
pattern2 = 'NOT IN TEXT'

In [14]:
re.search(pattern2, text) ## returns 'none' which shows no results in jupyter // nothing is output to cell

In [15]:
# save re match object
match = re.search(pattern,text)

In [16]:
## re match object.
match

In [38]:
match.span()

(18, 23)

In [40]:
match.end()

23

In [19]:
match.start()

12

In [ ]:
## example with repeating matches

In [32]:
text2 = 'my phone once, my phone twice'

In [23]:
## re.search shows first match result
match2 = re.search('phone', text2)

In [24]:
match2

In [25]:
# findall returns list of strings
matches = re.findall('phone',text2)

In [26]:
matches

['phone', 'phone']

In [44]:

## to get match objects we need to iterate  thru text
## need to use 'for MATCH in ' otherwise it yields diff values?
for match in re.finditer('phone', text2):
    print(match.span())
    print(match.group())

(3, 8)
phone
(18, 23)
phone

## REGEX patterns

## Identifiers for Characters in Patterns

Characters such as a digit or a single string have different codes that represent them. You can use these to build up a pattern string. Notice how these make heavy use of the backwards slash \ . Because of this when defining a pattern string for regular expression we use the format:

    r'mypattern'
    
placing the r in front of the string allows python to understand that the \ in the pattern string are not meant to be escape slashes.

Below you can find a table of all the possible identifiers:

<table ><tr><th>Character</th><th>Description</th><th>Example Pattern Code</th><th >Exammple Match</th></tr>

<tr ><td><span >\d</span></td><td>A digit</td><td>file_\d\d</td><td>file_25</td></tr>

<tr ><td><span >\w</span></td><td>Alphanumeric</td><td>\w-\w\w\w</td><td>A-b_1</td></tr>



<tr ><td><span >\s</span></td><td>White space</td><td>a\sb\sc</td><td>a b c</td></tr>



<tr ><td><span >\D</span></td><td>A non digit</td><td>\D\D\D</td><td>ABC</td></tr>

<tr ><td><span >\W</span></td><td>Non-alphanumeric</td><td>\W\W\W\W\W</td><td>*-+=)</td></tr>

<tr ><td><span >\S</span></td><td>Non-whitespace</td><td>\S\S\S\S</td><td>Yoyo</td></tr></table>

In [83]:
text3 = "My phone number is 777-555-1234"

In [51]:
phone = re.search('408-555-1234', text3)

In [55]:
phone

In [53]:
phone2 = re.search(r'(\d\d\d)-\d\d\d-\d\d\d\d', text3)

In [67]:
phone2

In [68]:
phone2.group()

'777-555-1234'

# Quantifiers table

<table ><tr><th>Character</th><th>Description</th><th>Example Pattern Code</th><th >Exammple Match</th></tr>

<tr ><td><span >+</span></td><td>Occurs one or more times</td><td>	Version \w-\w+</td><td>Version A-b1_1</td></tr>

<tr ><td><span >{3}</span></td><td>Occurs exactly 3 times</td><td>\D{3}</td><td>abc</td></tr>



<tr ><td><span >{2,4}</span></td><td>Occurs 2 to 4 times</td><td>\d{2,4}</td><td>123</td></tr>



<tr ><td><span >{3,}</span></td><td>Occurs 3 or more</td><td>\w{3,}</td><td>anycharacters</td></tr>

<tr ><td><span >\*</span></td><td>Occurs zero or more times</td><td>A\*B\*C*</td><td>AAACC</td></tr>

<tr ><td><span >?</span></td><td>Once or none</td><td>plurals?</td><td>plural</td></tr></table>

In [84]:
phone3 = re.search(r'(\d{3})-\d{3}-\d{4}', text3)

In [85]:
phone3

In [ ]:
## learn .compile function --- compiles different regex pattern codes toghet

In [86]:
phone_pattern = re.compile('(\d{3})-(\d{3})-(\d{4})')

In [89]:
results = re.search(phone_pattern, text3)

In [90]:
results.group()

'777-555-1234'

In [91]:
results.group(1) ## group indexing starts at 1 instead of 0

'777'

In [93]:
results.group(2)

'555'

In [94]:
results.group(3)

'1234'

In [95]:
results.group(4)

IndexError: no such group

In [100]:
 # OR OPERATOR: | (pipe)

In [98]:
re.search(r'cat|dog', 'The dog is here')

In [ ]:
# wildcard operator  . (period)
#
# grabs anything

In [99]:
re.findall(r'at', 'The cat in the hat sat there')

['at', 'at', 'at']

In [102]:
re.findall(r'.at', 'The cat in the hat sat there')

['cat', 'hat', 'sat']

In [103]:
re.findall(r'...at', 'The cat in the hat sat there')

['e cat', 'e hat']

In [105]:
# starts with  ^ (carat)
# ends with   $  (dollarsign)

In [106]:
## starts with ^
re.findall(r'^\d', '2 is a number')

['2']

In [107]:
re.findall(r'^\d', 'one is a number') # NO MATCH

[]

In [108]:
re.findall(r'^\d', 'one, 1, is a number') # NO MATCH

[]

In [110]:
## ends with $
re.findall(r'\d$', 'the number is 2')

['2']

In [111]:
re.findall(r'\d$', 'the number is two')

[]

In [113]:
re.findall(r'\d$', 'the number is 2, two')

[]

In [ ]:
## EXCLUSION , carat (^) with brackets [] for grouping

In [121]:
phrase = 'there are 3 numbers 32 inside 5 this sentece'

In [117]:
## want to exclude letters,

In [135]:
pattern4 = r'[^\d]'

In [136]:
re.findall(pattern4, phrase)

['t',
 'h',
 'e',
 'r',
 'e',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 ' ',
 'n',
 'u',
 'm',
 'b',
 'e',
 'r',
 's',
 ' ',
 ' ',
 'i',
 'n',
 's',
 'i',
 'd',
 'e',
 ' ',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 'e',
 'n',
 't',
 'e',
 'c',
 'e']

In [127]:
pattern5 = r'[^\d]+' ## plus sign, 'occurs one or more times'--- puts our phrase back together.

In [128]:
re.findall(pattern5, phrase)

['there are ', ' numbers ', ' inside ', ' this sentece']

In [ ]:
# exclusion syntax : common way to remove punctuation

In [129]:
test_phrase = 'This is a string! but it hwas punctuation. How can we remove it?'

In [137]:
re.findall(r'[^!.?]+', test_phrase) ## splitting string on punctuation

['This is a string', ' but it hwas punctuation', ' How can we remove it']

In [139]:
re.findall(r'[^!.? ]+', test_phrase) ## add a space, splits on all words

['This',
 'is',
 'a',
 'string',
 'but',
 'it',
 'hwas',
 'punctuation',
 'How',
 'can',
 'we',
 'remove',
 'it']

In [140]:
clean = re.findall(r'[^!.? ]+', test_phrase)

In [142]:
' '.join(clean)

'This is a string but it hwas punctuation How can we remove it'

In [ ]:
## brackets are for grouping []

In [144]:
text5= 'Only find the hyphen-words in this sentence, but you dont know how long-ish they are'

In [148]:
# some group of words, hyphen, followed by more words

## find group of alpha numerics (words or letters)
pattern = r'[\w]+'

In [149]:
re.findall(pattern,text5)

['Only',
 'find',
 'the',
 'hyphen',
 'words',
 'in',
 'this',
 'sentence',
 'but',
 'you',
 'dont',
 'know',
 'how',
 'long',
 'ish',
 'they',
 'are']

In [150]:
pattern = r'[\w]+-[\w]+'

In [152]:
re.findall(pattern,text5)

['hyphen-words', 'long-ish']

In [ ]:
# parentehsis for multiple options ()

In [155]:
# Find words that start with cat and end with one of these options: 'fish','nap', or 'claw'
textone = 'Hello, would you like some catfish?'
texttwo = "Hello, would you like to take a catnap?"
textthree = "Hello, have you seen this caterpillar?"

In [157]:
re.search(r'cat(fish|nap|erpiller)', textone)

In [159]:
re.search(r'cat(fish|nap|erpiller)', texttwo)

In [161]:
re.search(r'cat(fish|nap|erpillar)', textthree)