# Advanced Numbers

In [2]:
# convert to hex
hex(12)

'0xc'

In [3]:
hex(420)

'0x1a4'

In [4]:
#convert to binary
bin(128)

'0b10000000'

In [6]:
bin(512)

'0b1000000000'

In [7]:
bin(420)

'0b110100100'

In [9]:
## powers
2**4

16

In [10]:
pow(2,4,3) ## third variable is %modulo

1

In [16]:
round(3.1)

3

In [17]:
type(round(3.1)) ## round is not returning a float

int

In [13]:
abs(-3)

3

In [18]:
round(3.141592,2)

3.14

# Advanced Strings

In [19]:
s = 'hello world'

In [20]:
## changing case

s.capitalize()

'Hello world'

In [21]:
s.upper()

'HELLO WORLD'

In [22]:
s.lower()

'hello world'

In [23]:
s.count('o')

2

In [24]:
s.find('o') ## returns index of first o

4

In [25]:
s.center(20, 'z') ## string fomratting --- center string between z's with total number of leetters

'zzzzhello worldzzzzz'

In [28]:
print('hello\thi')

hello	hi

In [29]:
'hello\thi'.expandtabs()

'hello   hi'

In [30]:
s = 'hello'

In [32]:
s.isalnum() ## check if all alpha numeric

True

In [33]:
s.isalpha() #3 check if is alphabetical, not numberic

True

In [34]:
s.islower() # check if all is lower

True

In [35]:
s.isspace() ## check if all chars are white space

False

In [36]:
s.istitle() ## check if titlecase string

False

In [ ]:
s.isupeer() ##check if all chars upper

In [37]:
'HELLO'.isupper()

True

In [38]:
s.endswith('o')

True

In [39]:
s[-1] == 'o'

True

## built in regex operations

In [40]:
s.split('e') # split on e

['h', 'llo']

In [41]:
'ahdfdshfajdseeeeeefdfadfadfe'.split('f')

['ahd', 'dsh', 'ajdseeeeee', 'd', 'ad', 'ad', 'e']

In [44]:
s.partition('l') # splits on start - seperator - end

('h', 'e', 'llo')

# Advanced Sets

In [45]:
x = set()

In [46]:
x.add(1)

In [47]:
x

{1}

In [48]:
x.add(2)

In [49]:
x

{1, 2}

In [50]:
x.add(2)

In [51]:
x

{1, 2}

In [52]:
x.clear()

In [53]:
x

set()

In [62]:
x = {1,2,3}

In [67]:
xc = x.copy()

In [68]:
xc

{1, 2, 3}

In [70]:
xc.add(4)

In [71]:
xc

{1, 2, 3, 4}

In [72]:
x.difference(xc) ## returns elemtns in x that are not in xc

set()

In [73]:
xc.difference(x) ## returns elements in xc that are not in x

{4}

In [75]:
## difference update

#set1.difference_update(set2)

s1 = {1,2,3}
s2 = {1,4,5}

In [77]:

s1.difference_update(s2) ## returns the first set after removing all the elements in set 2 -- will remove 1 from s1
s1

{2, 3}

In [78]:
s2

{1, 4, 5}

In [80]:
s2.discard(4) ## remove specific eleent of a set
s2

{1, 5}

In [82]:
# intersection
s1 = {1,2,3}
s2 = {1,2,4}

In [90]:
s1.intersection(s2) ## returns elements thare are common to both sets

{1, 2}

In [91]:
s1

{1, 2, 3}

In [92]:
s1.intersection_update(s2)  ## _update will find the intersection and make the first set equal to the intersection